/* @import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald|Anton|Kaushan+Script|Rochester|Sacramento|Ole|Hi+Melody=fallback|Gothic+A1:wght@400;600;900'); */
/* @import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap'); */
/* google earlyaccess */
/* @import url(//fonts.googleapis.com/earlyaccess/jejugothic.css); */

.openSans {
  font-family: 'Open Sans', sans-serif;
}
.oswald {
  font-family: 'Oswald', sans-serif;
}
.anton {
  font-family: 'Anton', sans-serif;
}
.kaushanScript {
  font-family: 'Kaushan Script', cursive;
}
.rochester {
  font-family: 'Rochester', sans-serif;
}
.sacramento {
  font-family: 'Sacramento', sans-serif;
}

.Ole {
  font-family: 'Ole', 'Hi Melody', cursive;
}

.uppercase-text {
  text-transform: uppercase;
}
.lowercase-text {
  text-transform: lowercase;
}
.capitalize-text {
  text-transform: capitalize;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  padding: 10px;
}
.fontsSelectBox-button {
  margin-top: 10px;
}
select {
  width: 200px;
}
fieldset {
  border: 0;
}
label {
  display: block;
  margin: 10px 0 0 0;
}

input {
  /* font-family: 'Open Sans', sans-serif; */
  padding: 0;
  font-size: 24px;
  border: 0;
  width: 100%;
}

.fontForm {
  max-width: 500px;
}

.checkbox-label {
  display: inline-block;
}

.grid {
  margin: -10px;
  padding: 0;
  position: relative;
}

.grid-cell {
  display: inline-block;
  padding: 10px;
  margin: 0;
  list-style: none;
  vertical-align: top;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  letter-spacing: 0;
  direction: ltr;
}

.size1of1 {
  width: 100%;
}

.size1of2 {
  width: 50%;
}

.font-size-16 {
  font-size: 16px;
}
.font-size-20 {
  font-size: 20px;
}
.font-size-40 {
  font-size: 40px;
}
.font-size-72 {
  font-size: 72px;
}
.font-size-92 {
  font-size: 92px;
}

h2 {
  margin: 10px 0 0 0;
}

ul {
  flex-direction: column;
  margin: 0;
  padding: 0;
  justify-content: unset;
  align-items: unset;
  width: 30%;
  display: none;
  margin-left: 10px;
  border: 1px solid rgb(200, 200, 200);
  box-shadow: 3px 4px 4px rgb(236, 236, 236);
  border-radius: 5px;
  user-select: none;
  z-index: 1;
  position: absolute;
}

li {
  padding: 2px 5px;
  list-style: none;
  cursor: pointer;
  background-color: white;
}

li:hover {
  background-color: aliceblue;
}

.font__itemActive {
  background-color: rgb(217, 237, 255);
}

.font__selected {
  position: relative;
  background-color: lightcyan;
  border-radius: 5px;
  width: 30%;
  box-sizing: border-box;
  padding: 2px 5px;
  cursor: pointer;
  border: 1px solid gray;
  margin-left: 10px;
}

.font__selected::after {
  content: '';
  position: absolute;
  box-sizing: border-box;
  right: 10px;
  top: 5px;
  width: 10px;
  height: 10px;
  border-top: 2px solid gray;
  border-left: 2px solid gray;
  transform: rotate(-135deg);
}

#fontsSelectBox {
  position: absolute;
  left: -99999px;
}
